[09:07, 7/6/2017] Emas: extends ../templates/default
include ../templates/nav
block content
    div(class='row')
        div(class='col-md-6 col-md-offset-1')
            h1(aling = "center")='Condominos Registrados'
            table(class="table table-striped"
            aling = 'center')
                thead(bgcolor="#96ded1")
                    tr
                        th Depto.
                        th Nombre
                        th E-mail
                        th Contraseña
                        th Seguridad
                        th Servicio de Basura
                        th Limpieza
                        th Iluminación de Áreas Comunes
                        th Limpieza de Pipas de Agua
                        th Pago para el Administrador
                        th Total
                tbody(bgcolor="white" )
                    each item, i in items
                        tr
                            td= item._id
                            td= item.nombre
                            td= item.email
                            td= item.password
                            td= item.Seguridad
                            td= item.RecoleccionBasura
                            td= item.LimpiezaComunes
                            td= item.AlumbradoComunes
                            td= item.Limpiezatinacos
                            td= item.PagoAdministrador
                            td= item.total

            button(type="button" onclick="location.href='/users/panel'" name="boton" class="btn btn-info btn-lg")="Regresar"
             
            div(class='row')
              div(class='col-md-6 col-md-offset-5')
                div(class='panel panel-default')
                  div(class='panel-heading')='Actualización'
                    div(clas= 'panel-body')
                      form(action='/users/balance' method='post' autocomplete='off')
                        div(class='form-group')
                            label(for="numDepto")='N° Departamento'
                            input(required type='number' name='numDepto' id='numDepto' placeholder='N° Depto.' class='form-control')
                        div(class='form-group')
                            label(for="Seguridad")='Seguridad'
                            input(required type='number' name='Seguridad' id='Seguridad' placeholder='Seguridad' class='form-control')
                        div(class='form-group')
                            label(for="Recolección de Basura")='Servicio de Basura'
                            input(required type='number' name='RecoleccionBasura' id='RecoleccionBasura' placeholder='Recolección de Basura' class='form-control')
                        div(class='form-group')
                            label(for="LimpiezaComunes")='Limpieza'
                            input(required type='number' name='LimpiezaComunes' id='LimpiezaComunes' placeholder='Limpieza' class='form-control')
                        div(class='form-group')
                            label(for="AlumbradoComunes")='Iluminación de Áreas Comunes'
                            input(required type='number' name='AlumbradoComunes' id='AlumbradoComunes' placeholder='Iluminación de Áreas Comunes' class='form-control')
                        div(class='form-group')
                            label(for="Limpiezatinacos")='Limpieza de Pipas de Agua'
                            input(required type='number' name='Limpiezatinacos' id='Limpiezatinacos' placeholder='Limpieza de Pipas de Agua' class='form-control')
                        div(class='form-group')
                            label(for="PagoAdministrador")='Pago para el Administrador'
                            input(required type='number' name='PagoAdministrador' id='PagoAdministrador' placeholder='Pago para el Administrador' class='form-control')
                        button(type="submit" class="btn btn-info btn-lg")='Actualizar' 